@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .link {
    display: flex;
    align-items: center;
    color: white;
    gap: 0.8rem;
  }

  .link-name {
    font-weight: 500;
    font-size: 1rem;
  }

  .stat-figure {
    font-size: .9rem;
    font-weight: 500;
    color: rgb(7, 7, 48);
    margin-top: 0.1rem;
  }

  .stat-name {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(3, 3, 59);
  }

  /* HTML: <div class="loader"></div> */
  .loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }
  @keyframes l5 {
    0% {
      box-shadow: 20px 0 #000, -20px 0 #0002;
      background: #000;
    }
    33% {
      box-shadow: 20px 0 #221e55, -20px 0 #2d2874;
      background: #0002;
    }
    66% {
      box-shadow: 20px 0 #0002, -20px 0 #000;
      background: #0002;
    }
    100% {
      box-shadow: 20px 0 #0002, -20px 0 #000;
      background: #000;
    }
  }

 
}
